/*Color scheme starts here */
$background-color: #FFF5E9;
$dark-green: #4E918E;
$light-green: #7DB29E;
$bright-accent: #eb7878;
$light-accent: #DED0D0;


/*Font-Awesome starts here*/
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

/*General starts here*/
body {
    background-color: $background-color;
    color: $dark-green;
}
.save, .like, .search, .add {
    background: #DED0D0;
    margin: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 6px 0 rgb(255 255 255 / 30%), -4px -4px 6px 0 rgb(116 125 136 / 20%), inset -4px -4px 6px 0 rgb(255 255 255 / 20%), inset 4px 4px 6px 0 rgb(0 0 0 / 20%);
}

/*header begins here*/
.navbar {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo-container {}
.logo {
    width: 250px;
    height: auto;
    padding: 20px;
}

/*searchbar starts here */
.search-container {
    margin: 0 100px;
    background: $light-accent;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
form {}
input[type=text] {
    border: none;
    background: $light-accent;
    cursor: pointer;
    width: 400px;
}

//TODO: get rid off border when click
input[type=text]:focus {}
::placeholder {
    color: $dark-green;
    font-weight: bold;
}
.search-button {
    border: none;
    background: $light-accent;
    cursor: pointer;
}

/*collapsible profile begins here*/
.profile-container {}
.profile {
    width: 50px;
    height: auto;
    padding: 20px;
}
.collapsible {
    background-color: $background-color;
    color: $dark-green;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $light-green;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.fas, .fa {
    color: $dark-green;
}

/*home begins here*/
.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: start;
}

.home-filter {
    margin-left: 20px;
}

.home-feed {
}

.pop-up {
}


/*card featured begins here*/
.card-featured-container{
    border-radius: 5px;
    border: 2px solid $light-green;
}
.card-title{
    font-family: $font-title;
}
.card-gallery{}
.card-tags{}
.card-buttons{
    display:flex;
}


badge {
    color: $dark-green;
    background: lightcoral;;
}



.like-icon {
    width: 25px;
}



.recipe-container + .recipe-container {

}


/*Pop-up starts here*/
