//TODO: add responsiveness

/*Color scheme starts here */
$background-color: #FFF5E9;
$dark-green: #4E918E;
$light-green: #7DB29E;
$bright-accent: #eb7878;
$light-accent: #DED0D0;

/*Fonts starts here*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat+Alternates:wght@300&family=Ubuntu:wght@300&display=swap');
$font-title: 'Comfortaa', cursive;
$font-family: 'Montserrat Alternates', sans-serif;
$font-filter: 'Ubuntu', sans-serif;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;

/*Font-Awesome starts here*/
$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

/* General starts here*/
$border-radius: 30px;
$box-shadow: 4px 4px 6px 0 rgb(255 255 255 / 30%),
-4px -4px 6px 0 rgb(116 125 136 / 20%),
inset -4px -4px 6px 0 rgb(255 255 255 / 20%),
inset 4px 4px 6px 0 rgb(0 0 0 / 20%);

$box-shadow-featured: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);

$box-shadow-image: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086);

$box-shadow-focus: 0px 0px 8px 2px $bright-accent;
$box-shadow-focus-search: 0px 0px 8px 2px $dark-green;


html {
    background-color: $background-color;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    color: $dark-green;
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0 auto;
}

label {
    font-style: italic;
    font-weight: bold;
    font-size: $font-14;
    margin: 10px 35px 0 35px
}

a {
    position: relative;
    color: $bright-accent;
    text-decoration: none;
}

a:active {
    top: 3px;
}

p {
    font-size: $font-14;
}

/*scrollbar starts here */
html::-webkit-scrollbar {
    width: 1.5em;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: $box-shadow;
    background: $light-accent;
}

html::-webkit-scrollbar-thumb {
    background-color: $dark-green;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 5px;
}

/* buttons start here */
.search-btn {
    background: $light-accent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: $font-16;
}

.search-btn:hover {
    background: $light-accent;
}


.save-btn,
.like-btn,
.view-btn,
.post-btn,
.login-btn,
.logout-btn,
.home-btn,
.register-btn,
.recipe-btn {
    background: $light-accent;
    color: $bright-accent;
    padding: 20px 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: $font-16;
    border: none;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 15px;
}

.save-btn-card:hover,
.like-btn-card:hover,
.view-btn-card:hover,
.save-btn:hover,
.like-btn:hover,
.view-btn:hover,
.post-btn:hover,
.login-btn:hover,
.logout-btn:hover,
.home-btn:hover,
.register-btn:hover,
.recipe-btn:hover {
    background-color: $bright-accent;
    color: $light-accent;
}

.save-btn-card,
.like-btn-card,
.view-btn-card {
    background: $light-accent;
    color: $bright-accent;
    padding: 8px 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 5px;
}


.search-btn {
    color: $dark-green;
    border: none;
}

/*header begins here*/
.navbar {
    background-color: $background-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.logo-container {
}

.logo {
    width: 100px;
    height: auto;
    padding: 20px;
}


/*searchbar starts here */
//.search-container {
//    margin: 0 100px;
//    background: $light-accent;
//    height: 30px;
//    border-radius: $border-radius;
//    padding: 10px 20px;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    cursor: pointer;
//    box-shadow: $box-shadow;
//    width: 400px;
//}

.search-container {
    display: table;
    margin: 0 100px;
    background: $light-accent;
    height: 30px;
    border-radius: $border-radius;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
    width: 400px;
}

.search-container:focus-within {
    box-shadow: $box-shadow-focus-search;
}

input[type=search] {
    outline: none;
    border: none;
    background: $light-accent;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    width: -webkit-fill-available;
}

input[type=search]:focus {
    outline: none;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.search-btn-s-cover {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

.search-btn-s-cover {
    position: relative;
    display: block;
    width: 28px;
    height: 32px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -4px;
    left: 0;
    width: 12px;
    height: 12px;
    margin-top: 0;
    border: 4px solid $dark-green;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
    box-shadow: $box-shadow;
}

.search-btn-s-cover span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.search-btn-s-cover span:before,
.search-btn-s-cover span:after {
    content: '';
    position: absolute;
    bottom: 1px;
    right: 84px;
    width: 16px;
    height: 4px;
    background-color: $dark-green;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: 1px;
    width: 22px;
    height: 4px;
    border-width: 0;
    background-color: $bright-accent;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

#s-cover:hover span {
    top: 60%;
    left: 0;
    width: 22px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover .search-btn-s-cover span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover .search-btn-s-cover span:after {
    bottom: 1px;
    transform: rotateZ(-52deg);
}

#s-cover:hover .search-btn-s-cover span:before,
#s-cover:hover .search-btn-s-cover span:after {
    right: -5px;
    width: 15px;
    background-color: $bright-accent;
    box-shadow: $box-shadow;
}


input[type=text],
input[type=email],
input[type=password],
.create-file {
    outline: none;
    border: none;
    margin: 5px 25px 10px 25px;
    background: $light-accent;
    border-radius: $border-radius;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
    align-self: flex-start;
    width: -webkit-fill-available;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    box-shadow: $box-shadow-focus;
}

input[type=file] {
    opacity: 0.3;
}

input[type=file]:hover {
    opacity: 10;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: $light-green !important;
    box-shadow: $box-shadow !important;
    font-family: $font-title;
    color: $background-color;
}


.create-box {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 20px;
}

.account-box,
.register-box,
.login-box,
.logout-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 20px;
    overflow: hidden;

}

.recipe-book-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;
    //TODO: look into overflowing columns
    //column-count:2;
    //column-gap: 50px;
}


.logout-box {
    align-items: center;
}

::placeholder {
    color: $dark-green;
    font-weight: bold;
    font-style: italic;
    font-family: $font-family;
}

/*collapsible profile begins here*/
.profile-container {
    position: relative;
}

.profile {
    width: 70px;
    height: auto;
    padding: 20px;
    cursor: pointer;
}

.collapsible:hover .profile-account {
    display: none;
}

.collapsible:hover .profile-account-hover {
    display: block;
}

.collapsible:hover .welcome {
    color: $bright-accent
}

.profile-account-hover {
    display: none;
}


.welcome {
    font-family: $font-family;
    margin: -15px;
}

.collapsible {
    background-color: $background-color;
    color: $dark-green;
    padding: 0 0 25px 0;
    outline: none;
    border: none;
}

.active, .collapsible:hover {
    top: 3px;
}

.content {
    padding: 20px 20px;
    overflow: hidden;
    display: none;
    background-color: $light-accent;
    border-radius: $border-radius;
    text-align: left;
    width: 50%;
    position: absolute;
    top: 125px;
    right: 80px;
    box-shadow: $box-shadow;
}

.content-account,
.content-recipes,
.content-settings,
.content-logout {
    padding: 5px;
}


/* login starts here */
//TODO: add frosted background styling
.login-container,
.logout-container,
{
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login-details,
.logout-details,
.account-details,
.register-details,
.recipe-book-details,
.settings-details {
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
    border-left: 1px solid $light-accent;
    border-right: 1px solid $light-accent;
    margin: 100px 50px;
    padding: 30px 50px 10px 50px;
    box-shadow: $box-shadow-featured;
}

.login-title,
.logout-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.login-email,
.login-password {
    margin: 20px 25px 0 25px;
    background: $light-accent;
    height: 15px;
    border-radius: $border-radius;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
}

.login-email:focus-within,
.login-password:focus-within {
    box-shadow: $box-shadow-focus;
}

.login-yes-account,
.login-no-account {
    text-align: center;
    margin-top: -70px;
}


/* register starts here */
//TODO: add frosted background styling
.register-container,
.recipe-book-container {
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.register-title,
.recipe-book-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

//.register-first-name,
//.register-last-name,
//.register-email,
//.register-password,
//.register-password-confirm {
//    margin: 20px 25px 0 25px;
//    background: $light-accent;
//    height: 15px;
//    border-radius: $border-radius;
//    padding: 10px 20px;
//    justify-content: center;
//    align-items: center;
//    cursor: pointer;
//    box-shadow: $box-shadow;
//}
//
//.register-first-name:focus-within,
//.register-last-name:focus-within,
//.register-email:focus-within,
//.register-password:focus-within,
//.register-password-confirm:focus-within {
//    box-shadow: $box-shadow-focus;
//}


/* account starts here */
.account-container,
.settings-container {
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.account-title,
.settings-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.account-first-name,
.account-last-name,
.account-email {
    margin: 25px;
    height: 10px;
    border-radius: 30px;
    padding: 0 20px;
}

.account-first-name:focus-within,
.account-last-name:focus-within,
.account-email:focus-within {
    box-shadow: $box-shadow-focus;
}

/* show details start here */
.show-recipe-container {
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.show-recipe {
    justify-content: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
    border-left: 1px solid $light-accent;
    border-right: 1px solid $light-accent;
    margin: 100px;
    padding: 30px 50px 10px 50px;
    box-shadow: $box-shadow-featured;
    width: 1100px;
}

.show-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.show-image-container {
    display: flex;
    justify-content: center;
}

.show-image {
    border-radius: $border-radius;
    box-shadow: $box-shadow-image;
    width: 900px;
    height: 450px;
    cursor: pointer;
    margin: 50px 15px 15px 15px;
    object-fit: cover;
    overflow: hidden;
}

.show-tags {
    display: flex;
    padding: 15px 15px 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0.7;
    margin: 25px 15px 15px 15px;
}

.show-ingredients {
    padding: 0 10px 15px 10px;
}

.show-instructions {
    padding: 0 10px 50px 10px;

}

/*home begins here*/
.home-container {
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.home-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.filter-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-ingredient,
.dish-type,
.special-occasions {
    padding: 0 10px;
    margin: 0 20px;
}

.create-btn-container,
.login-btn-container,
.logout-btn-container,
.account-btn-container,
.settings-box,
.register-btn-container {
    text-align: center;
    margin: 20px;
}

.account-btn-container,
.logout-btn-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.home-feed,
.login-feed,
.logout-feed,
.register-feed,
.recipe-book-feed,
.account-feed,
.settings-feed,
.show-feed {
    margin-top: 100px;
}

/*card featured begins here*/
.card-featured-container {
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
    border-left: 1px solid $light-accent;
    border-right: 1px solid $light-accent;
    margin: 100px 50px;
    padding: 30px 50px 10px 50px;
    box-shadow: $box-shadow-featured;
}

.card-container {
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
    border-left: 1px solid $light-accent;
    border-right: 1px solid $light-accent;
    padding: 15px 25px 5px 25px;
    box-shadow: $box-shadow-image;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title,
.card-featured-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.card-title {
    font-weight: $font-14;
}

.card-gallery,
.card-featured-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card-featured-tags {
    display: flex;
    padding: 15px 15px 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0.7;
    max-width: 500px;
}

.card-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0.7;
}

.card-badge {
    color: $background-color;
    background: $bright-accent;
    padding: 7px;
    margin: 3px 5px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font-size: 12px;
}

.card-featured-badge {
    color: $background-color;
    background: $bright-accent;
    padding: 10px;
    margin: 3px 5px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.card-tags,
.card-buttons {
    margin: 15px 10px 10px 10px;
    text-align: center;
}

.card-featured-tags,
.card-featured-buttons {
    margin: 25px 15px 15px 15px;
    text-align: center;
}

.card-buttons,
.card-featured-buttons,
.show-buttons {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}


.card-featured-image-container {
    display: flex;
    justify-content: center;
}

.card-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-image {
    border-radius: $border-radius;
    box-shadow: $box-shadow-image;
    width: 250px;
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.card-featured-image {
    border-radius: $border-radius;
    box-shadow: $box-shadow-image;
    width: 500px;
    height: 360px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.footer-container {
    //background-color: $background-color;
    font-size: $font-12;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 2px;
    width: 100%;
}

/* Create post starts here */
.create-recipe-container {
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.create-recipe-title {
    font-family: $font-title;
    text-align: center;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
}

.create-images {
    display: flex;
    margin: 20px 25px 0 25px;
    background: $light-accent;
    height: 15px;
    border-radius: $border-radius;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
}

.create-title,
.create-tags,
.create-ingredients,
.create-instructions {
    margin: 20px 25px 0 25px;
    background: $light-accent;
    height: 15px;
    border-radius: $border-radius;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
}

.create-title:focus-within,
.create-tags:focus-within,
.create-ingredients:focus-within,
.create-instructions:focus-within {
    box-shadow: $box-shadow-focus;
}


.frosted {
    //background-color: yellow;
}


/*Create Pop-up starts here*/
.create-container {
    position: fixed;
    bottom: 0;
    margin: 0 50px;
}

.add-btn {
    background: $background-color;
    color: $bright-accent;
    padding: 10px 25px;
    border: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    width: 500px;
}

.add-btn:hover {
    background: $bright-accent;
    color: $background-color;

}

.create-recipe-container {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    bottom: 6px;
    width: 100%;
}

.create-feed {
    position: relative;
    border-radius: $border-radius;
    border-bottom: 1px solid $light-accent;
    border-left: 1px solid $light-accent;
    border-right: 1px solid $light-accent;
    padding: 30px 50px 10px 50px;
    box-shadow: $box-shadow-focus-search;
    max-width: 545px;
    background-color: $background-color;
    margin: auto;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}

.close-btn {
    float: right;
    color: $light-accent;
    font-size: 30px;
    font-weight: bold;
}

.close-btn:hover {
    color: $bright-accent;
    cursor: pointer;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* Hide password toggle starts here */
.password-box {
    display: flex;
    flex-direction: column;
}

.hide-password {
    position: relative;
    display: flex;
    width: 50px;
    height: 25px;
}

.hide-password input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-accent;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: $bright-accent;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

input:checked + .toggle {
    background-color: $bright-accent;
}

input:focus + .toggle {
    box-shadow: 0 0 1px $dark-green;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


